<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로드의 전술서</title>
    <link href="/sources/img/로전아이콘_2.svg" rel="shortcut icon" type="image/x-icon">

</head>
<body>
        <script>
            // console.log("여기는 오나?")
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');
            if(error == 'needLogin'){
                console.log(error)
                alert("로그인이 필요한 서비스입니다.");
                // history.replaceState(null, "", location.pathname);
                location.href = "/login";
            } else {
                console.log(error)
                alert("<%= data.err %>")
                // console.log();
                // history.replaceState(null, "", location.pathname);
                window.history.go(-1);
            }
    </script>

    <h2><%= data.err %></h2>

    <p>알람이 뜨지 않았다면 뒤로가기 하세요.</p>



</body>
</html>