<div class="footer text-center mb-3">
<p> <로드의 전술서>는 모바일 게임 <로드 오브 히어로즈>를 위한 비공식 웹사이트입니다. </p>
<p>이 웹사이트에 사용된 일부 컨텐츠의 저작권은 클로버게임즈㈜에 있습니다. </p>
<p>by 팀 상향 </p>
<p><a href="teamsanghyang@gmail.com">contact: teamsanghyang@gmail.com</a> | <a href="#" class="color-black">개인정보처리방침</a> </p>
</div>