<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<nav class="main-nav fw-bold bg-basicdark shadow-basic d-flex justify-content-between align-items-center">
        <div class="nav-box ">
            <a href="/formmake" class="formmake" >기사단 편성</a>
            <a href="/forum/share" class="forum">편성 공유 게시판</a>
            <a href="/info" class="notice">이용안내</a>
        </div>
        <div class=" nav-box d-flex justify-content-center align-items-center">
            <% if(nickname != ''){ %>
                <div class="nickname-container">
                    <span class="nickname color-white login" >
                        <i class="fasize fa-regular fa-circle-user"></i>           
                    </span>
                    <div class="logout-container bg-basicdark text-center shadow-basic">
                        <p class="color-white"> <span class="color-purple"><%=nickname%></span>&nbsp; 님 </p>
                        <a a href="javascript:void(0)" onClick="javascript:logoutBtn()" class="logout color-white">로그아웃</a>
                        <a href="/mypage" class="color-white">마이페이지</a>
                    </div>
                </div>
                 
            <%} else{ %>
                <a href="/login" class="color-white login">
                    로그인/회원가입
                </a>
            <% }%>
            
        </div>
    </nav>

    <script>
        switch('<%=page%>'){
        case 'main':
        case '' : 
            $('.nav-box').children().removeClass('nav-selected');
            break;
        case 'login':
            $('.login').addClass('nav-selected');
            break;
        case 'forum':
            $('.forum').addClass('nav-selected');
            break;
        case 'formmake':
            $('.formmake').addClass('nav-selected');
            break;
        case 'notice':
            $('.notice').addClass('nav-selected');
            break;
        }
        

        $(".nickname").on('click', function(e) {
            $(".logout-container").slideToggle();
        })

        function logoutBtn(){
            let f = document.createElement('form');
            f.setAttribute('method', 'post');
            f.setAttribute('action', '/login/logout');
            document.body.appendChild(f);
            f.submit();
        }

        $(document).on('click', function(e){
            // 빈 곳 클릭하면 마이페지이 들어가는 칸 올라감
            if(!$(e.target).closest(".nickname-container").length>0
            ){
                $(".logout-container").slideUp();
            }
        });


    </script>
    
    <div class="top-banner shadow-basic">
        <a href="/"><img src="/sources/img/banners/basic.jpg" alt="" width="100%"></a>
        <!-- 공지사항 배너 -->
        <div class="notice-banner-container">
            <div>
            <% for(let i=0; i<notice.length; i++){ %>
                <a class="notice-banner bg-white d-flex align-items-center color-black" href="/info/notice/detail/<%= notice[i].id %>">
                    <span  class="ms-5 ps-3 pe-3">공지사항</span>
                    <span  class="ms-5 "><%= notice[i].subject%></span>
                </a>
            <% }%>
            </div>
        </div>
    </div>

    <script>
        let current_notice = 1;
        setInterval ( notice_mover, 3000 );
        // 3초정도마다 한번씩 notice-banner-container 객체를 위로 40px씩 올려준다.
        // 밑에 내릴 게 더 없으면 다시 맨 처음으로 간다..
        // 밑에 내릴 게 있는지 없는지는 전체 height로 알 수 있지 않을까
        function notice_mover(){
            let notice = document.querySelector(".notice-banner-container>div");
            let notice_cnt = notice.offsetHeight / 40;
            notice.style.transform = "translateY(-"+ 40*(current_notice++ % notice_cnt) +"px)"
        }
    </script>