<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<nav class="fw-bold bg-basicdark shadow-basic d-flex justify-content-between align-items-center">
        <div class="nav-box ">
            <a href="#" >기사단 편성</a>
            <a href="#">조합 공유 게시판</a>
            <a href="#">이용안내</a>
        </div>
        <div class=" nav-box d-flex justify-content-center align-items-center">
            <% if(nickname != ''){ %>
                <div class="nickname-container">
                    <span class="nickname color-white login" >
                        <i class="fasize fa-regular fa-circle-user"></i>           
                    </span>
                    <div class="logout-container bg-basicdark text-center shadow-basic">
                        <p class="color-white"> <span class="color-purple"><%=nickname%></span>&nbsp; 님 </p>
                        <a a href="javascript:void(0)" onClick="javascript:goPost()" class="logout color-white">로그아웃</a>
                        <a href="#" class="color-white">마이페이지</a>
                    </div>
                </div>
                 
            <%} else{ %>
                <a href="/login" class="color-white login">
                    로그인/회원가입
                </a>
            <% }%>
            <a href="#" class="color-white search">검색 &nbsp; <i class="fa-solid fa-magnifying-glass" style="font-size: 15px"></i></a>
        </div>
    </nav>

    <script>
        switch('<%=page%>'){
        case 'main': 
            $('.nav-box').children().removeClass('nav-selected');
            break;
        case 'login':
            $('.login').addClass('nav-selected');
        }

        $(".nickname").on('click', function(e) {
            $(".logout-container").slideToggle();
        })

        function goPost(){
            let f = document.createElement('form');
            f.setAttribute('method', 'post');
            f.setAttribute('action', '/login/logout');
            document.body.appendChild(f);
            f.submit();
        }


    </script>
    
    <div class="top-banner shadow-basic">
        <a href="/"><img src="/sources/img/banners/basic.jpg" alt="" width="100%"></a>
        <!-- 공지사항 배너 -->
        <a class="notice-banner bg-white d-flex align-items-center color-black" href="#">
            <span  class="ms-5 ps-3 pe-3">공지사항</span>
            <span  class="ms-5 "><%= notice%></span>
        </a>
    </div>