<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로드의 전술서:회원가입</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../css/main.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
</head>
<body>

    <%- include('nav_and_banner.ejs', {page: 'login', nickname: data.nickname, notice:data.banner_notice }) %> 
    

    <div class="basic-page-design login-container shadow-basic">
        <form action="/login/register" class="signup-form" method="POST" onsubmit="return submitCheck()">
            <h3 class="mb-5">회원가입</h3>
            <div class="id-input">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bold text-start">아이디</h6>
                    <p class="color-red fault-msg text-end"></p>
                </div>
                <input type="text" name="username" autocomplete="username" oninput="onlyAlphaNum(this)" data-submitable="false" data-checkable="false" class="input-box lowercase mt-1 mb-3" placeholder="아이디 입력 (영문, 숫자, _포함 6~20자)">
                <div class="check id-check btn-shadow"> 
                    <button type="button" onclick="idcheck()" class="basic-btn btn-cut btn-blue color-white">중복 확인</button>
                </div>
            </div>

            <div class="pw-input">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bold text-start">비밀번호</h6>
                    <p class="color-red fault-msg text-end"></p>
                </div>
                <div class="password-input">
                    <input type="password" oninput="onlyAlphaNuSymbols(this)" data-submitable="false" name="password" class="input-box mt-1 mb-3" placeholder="비밀번호 입력(영문, 숫자, 특수문자 포함 8~20자)">
                    <i class="pw-switch fa-solid fa-eye-slash"></i>
                </div>
            </div>

            <div class="pw-check">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bold text-start">비밀번호 확인</h6>
                    <p class="color-red fault-msg text-end"></p>
                </div>
                <div class="password-input">
                    <input type="password" oninput="onlyAlphaNuSymbols(this)"  data-submitable="false" name="re_password" class="input-box mt-1 mb-3" placeholder="비밀번호 확인">
                    <i class="pw-switch fa-solid fa-eye-slash"></i>
                </div>
            </div>

            <div class = "nickname-input">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bold text-start">닉네임</h6>
                    <p class="color-red fault-msg text-end"></p>
                </div>
                <input type="text" data-submitable="false" name="nickname" autocomplete="name" class="input-box mt-1 mb-3" placeholder="닉네임 입력 (2~8자), 띄어쓰기 불가">
            </div>

            <div class="email-input">
                <div class="d-flex justify-content-between">
                    <h6 class="fw-bold text-start">이메일</h6>
                    <p class="color-red fault-msg text-end"></p>
                </div>
                <input type="email" name="email" autocomplete="email" data-submitable="false" class="input-box mt-1 mb-1" placeholder="이메일 주소 입력">
                <div class="check email-check-req btn-shadow"> 
                    <button type="button" class="basic-btn btn-cut btn-blue color-white">인증</button>
                </div>
                <div class="email-check-div">
                    <input type="text" name="email-check" data-submitable="false" class=" mt-1 mb-3" placeholder="문자 입력">
                    <div class="email-check-input btn-shadow"> 
                        <button type="button" class="basic-btn btn-cut btn-yellow color-white">확인</button>
                    </div>
                </div>
                
            </div>
            
            <label class="checkbox-container mt-4 mb-4 d-flex align-self-center">
                <input type="checkbox" name="keep_login" class="basic-checkbox checkbox-none">
                <span class="checkbox-img"></span>
                <span class="ms-2">[필수] 개인정보 수집 및 이용 동의 (이메일)</span> 
            </label>
            <div class="btn-shadow"> <input type="submit" name="submit"  id="" value="가입" class="signup-btn basic-btn btn-cut btn-yellow color-white"></div>
            
           
        </form>
    </div>
    <%- include('footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <script>

        function onlyAlphaNum(input) {
            const regex = /^[A-Za-z0-9_]*$/; // 영문, 숫자 허용하는 정규 표현식
            if (!regex.test(input.value)) {
                // 입력된 값이 정규 표현식과 맞지 않으면 값을 수정
                input.value = input.value.replace( /\W/ig, '');
            }
        }

        function onlyAlphaNuSymbols(input) {
            const regex = /^[a-zA-Z0-9!@#$%^&*()_+-=]*$/; // 영문, 숫자 허용하는 정규 표현식
            if (!regex.test(input.value)) {
                // 입력된 값이 정규 표현식과 맞지 않으면 값을 수정
                input.value = input.value.replace( /[^a-zA-Z0-9!@#$%^&*()_+-=]/ig, '');
            }
        }


        function idcheck(){
            if($('input[name="username"]').val() == ""){
                alert("아이디를 입력하세요.");
                $('input[name="username"]').focus();
                $('input[name="username"]').data("submitable", "false")
            } else if ($('input[name="username"]').data('submitable') == "true"){
                alert("이미 확인되었습니다.");
                $('input[name="username"]').focus();
            } else if( $('input[name="username"]').data("checkable") == "false"){
                alert("잘못된 아이디입니다.");
                $('input[name="username"]').focus();
                $('input[name="username"]').data("submitable", "false")
            } else{
                //id 중복 검사
                let username = $('input[name="username"]').val();
                $.ajax({
                    url: '/login/register/idcheck',
                    type: 'POST',
                    async: true,
                    data: {
                        username: username
                    },
                    success: function(data){
                        if(data.result){
                            let msg = $('.id-input .fault-msg');
                            msg.text("사용 가능한 아이디입니다.");
                            msg.removeClass('color-red');
                            msg.addClass('color-black');
                            $('input[name="username"]').data("submitable", "true");
                            // console.log($('input[name="username"]').data("submitable"))
                        } else {
                            let msg = $('.id-input .fault-msg');
                            msg.text("사용할 수 없는 아이디입니다.");
                            msg.removeClass('color-black');
                            msg.addClass('color-red');
                            $('input[name="username"]').data("submitable", "false")
                            $('input[name="username"]').focus();

                        }
                    },
                    error: function(e){
                        console.log(e);
                    }
                });
            }
        }

        function checkpw() {
            let pw = $('input[name="password"]').val();
            let re_pw = $('input[name="re_password"]').val();

            if(pw != re_pw){ return false; }
            else return true;
        }

        function submitCheck(e){
            // input 태그들 submitable 변수 싹 검사해
            // false 하나라도 있으면 false 리턴하고, 해당 인풋에 focus해
            // 제대로 입력하라고 alert도 띄워줘
            let input_objects = $('input[type="text"]');            
            for(let i=0; i<input_objects.length; i++){
                if(input_objects.eq(i).data("submitable") == false){
                    alert("입력창을 다시 확인하세요.");
                    console.log($('input[type="text"]').eq(i));
                    $('input[type="text"]').eq(i).focus();
                    return false;
                }
            }
            
            // 다 됐는데 개인정보 수집 이용 동의 체크 안돼있으면 또 반려해
            if(!$("input[type='checkbox']").is(":checked")){
                alert("개인정보 수집 및 이용에 동의하셔야 합니다.");
                return false;
            }
            // 다 됐으면 submit 해
            return true;
            
        }


        $('input[name="username"]').on('propertychange change keyup paste input', function(e){
            $('input[name="username"]').data('submitable', 'false');
            $('.id-input .fault-msg').text("");
            const regex = /^[A-Za-z0-9_]*$/gi;

            if($(this).val().length < 6 || $(this).val().length > 20 ){
                let msg = $('.id-input .fault-msg');
                msg.text("아이디는 6자 이상 20자 이하여야 합니다.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $(this).data("checkable", "false");
            }else if( !regex.test($(this).val()) ){
                // console.log("정규식에 알맞지 않음.");
                $(this).data("checkable", "false");
            }else {
                $(this).data("checkable", "true");
            }
        })

        $('input[name="password"]').on('propertychange change keyup paste input', function(e){
            const regex = /^[a-zA-Z0-9!@#$%^&*()_+-=]*$/; // 영문, 숫자, 특수문자 허용하는 정규 표현식
            let msg = $('.pw-input .fault-msg');
            if($(this).val().length < 8 || $(this).val().length > 20 ){
                // console.log($(this).val().length)
                msg.text("비밀번호는 8자 이상 20자 이하여야 합니다.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $(this).data("submitable", "false");
            } else if (!regex.test(($(this).val()))) {
                // 입력된 값이 정규 표현식과 맞지 않음
                msg.text("비밀번호 양식이 알맞지 않습니다.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $(this).data("submitable", "false");
            } else{
                msg.text("");
                $(this).data("submitable", "true");
            }
        })

        $('input[name="re_password"]').on('propertychange change keyup paste input', function(e){
            // console.log(checkpw());
            if(checkpw()){
                $('.pw-check .fault-msg').text("");
                $(this).data("submitable", "true");
            } else{
                $('.pw-check .fault-msg').text("비밀번호가 일치하지 않습니다.");
                $(this).data("submitable", "false");
            }
        })

        $('input[name="nickname"]').on('propertychange change keyup paste input', function(e){
            let msg = $('.nickname-input .fault-msg');
            if($(this).val().length < 2 || $(this).val().length > 8 ){
                // console.log($(this).val().length)
                msg.text("닉네임은 2자 이상 8자 이하여야 합니다.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $(this).data("submitable", "false");
            } else if($(this).val().indexOf(" ") > -1){
                msg.text("닉네임에 공백이 포함될 수 없습니다.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $(this).data("submitable", "false");
            } else{
                msg.text("");
                $(this).data("submitable", "true");

            }
        })

        $('input[name="email"]').on('propertychange change keyup paste input', function(e){
            emailCheck();
        })

        class EmailCheckNum{
            static id;
            static email;
            
            static id_getter () {
                return this.id;
            }

            static id_setter(num){
                this.id = num;
                return this.id;
            }

            static email_getter(){
                return this.email;
            }

            static email_setter(email){
                this.email = email;
                return this.email;
            }
        }

        $('.email-check-req button').on('click', function(){
            if(emailCheck()){
                $('.email-check-div').slideDown(300)
                $('.email-check-input').slideDown(300);
                $('.email-check-req button').text("다시 요청")
                $('.email-input .fault-msg').text("입력하신 이메일 주소로 전송된 문자를 입력하세요.")

                $.ajax({
                    url: '/login/mailcheck/sendemail', 
                    method: 'POST', 
                    contentType: 'application/json',
                    data: JSON.stringify({ 
                        email : $('input[name="email"]').val(),
                    }),
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2')){
                            EmailCheckNum.id_setter(res.data.insertId);
                            EmailCheckNum.email_setter($('input[name="email"]').val());
                        } else{
                            // DB 오류
                            alert(res.message);
                            $('.email-input .fault-msg').text("이메일 인증을 다시 요청하세요.")
                        }
                    },                        
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                        $('.email-input .fault-msg').text("이메일 인증을 다시 요청하세요.")
                    }
                })
            }
            
        })

        function emailCheck(){
            const regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i
            let msg = $('.email-input .fault-msg');
            if (!regex.test(($('input[name="email"]').val()))) {
                // 입력된 값이 정규 표현식과 맞지 않음
                msg.text("알맞은 이메일을 입력하세요.");
                msg.removeClass('color-black');
                msg.addClass('color-red');
                $('input[name="email"]').data("submitable", "false");
                return false;
            } else{
                msg.text("");
                return true;
            }
        }

        $('.email-check-input button').on('click', function(){
            $(this).text("인증 중...");
            $.ajax({
                    url: `/login/mailcheck/numbercheck/?insertId=${EmailCheckNum.id_getter()}&email=${$('input[name="email"]').val()}&authNum=${$('input[name="email-check"]').val()}`, 
                    method: 'GET', 
                    data: {},
                    
                    // 요청 성공 
                    success: function(res) {
                        if(res.status.includes('2') && res.data.result){
                            $('.email-input .fault-msg').text("이메일 인증이 완료되었습니다.")

                            $('input[name="email"]').prop("readonly", true);
                            $('input[name="email-check"]').prop("readonly", true);

                            $('.email-check-input button').text("완료됨");
                            $('.email-check-req button').text("인증 완료");

                            $('.email-check-input button').addClass("bg-deepgray").removeClass("btn-yellow");
                            $('.email-check-req button').addClass("bg-deepgray").removeClass("btn-blue");

                            $('.email-check-input button').prop("disabled", true);
                            $(".email-check-req button").prop("disabled", true);

                            $('input[name="email"]').data("submitable", "true");
                            $('input[name="email-check"]').data("submitable", "true");
                            
                        } else if(res.status.includes('2') && !res.data.result){
                            $('.email-input .fault-msg').text("인증 문자가 틀렸거나 만료되었습니다.")
                            $('input[name="email"]').data("submitable", "false");
                            
                        } else{
                            // DB 오류
                            alert(res.message);
                            $('.email-input .fault-msg').text("이메일 인증을 다시 요청하세요.")
                        }
                    },                        
                    
                    error: function(xhr, status, error) {
                        // 오류 
                        alert(`오류 발생! 다시 시도하세요. ${status} - ${error}`);
                        console.error('Error:', status, error);
                        $('.email-input .fault-msg').text("이메일 인증을 다시 요청하세요.")
                    }
                })
        })

        $(".pw-switch").on('click', function(e){
            if($(this).hasClass('fa-eye')){
                $(this).removeClass('fa-eye');
                $(this).addClass('fa-eye-slash');
                $(this).siblings('input').attr('type', 'password');

            } else {
                $(this).removeClass('fa-eye-slash');
                $(this).addClass('fa-eye');
                $(this).siblings('input').attr('type', 'text');
            }
        })

        
    </script>
</body>
</html>