.forum-preview-container{

    margin-top: 70px;

    max-width: 1500px;
    /* min-width: 1050; */

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;;

    position: relative;

    
}

.forum-preview-container h6{
    font-size: 17px;
    font-weight: 500;
}

.forum-preview-tag{
    width: 380px;
    padding: 10px 40px;


    clip-path: polygon(25px 0%, 100% 0, calc(100% - 25px) 50%, 100% 100%, 0 100%, 0 25px);
    /* background-image: linear-gradient(to right, #3b8fff, #3b8fff); */
    background-color: #3b8fff;

    position: absolute;

    top: -10px;
    
}

.forum-preview-tag h5 {
    font-weight: 600;
    font-size: 28px;
}


.forum-preview{
    padding: 35px;
}

.forum-preview a{
    /* max-width: 650px; */
    width: 100%;
    /* margin: 0px 10px; */
}


.forum-link{
    font-size: 1.1em;
    font-weight: bold;
}

.forum-preview-line{
    margin: 0px 10px;

    width: 600px;
}

.forum-preview-line h5{
    margin-top: 13px;
    font-size: 23px;
}


.post-preview-container{
    border: 3px solid #BFC3D4;

    transition-duration: 0.3s;

    width: 100%;
    font-size: 0.9rem;
    font-weight: 500;

}

.post-preview-container:hover{
    cursor: pointer;

    border: 3px solid #ffffff;
    /* box-shadow: 2px 2px 4px 2px rgb(255, 255, 255); */

}

.load-form .post-preview-container:hover{
    cursor: pointer;

    border: 3px solid #ffed49;
    /* box-shadow: 2px 2px 4px 2px rgb(255, 255, 255); */

}

.post-preview-top-container{
    width: 100%;
}

.post-preview-top-container h6{
    font-size: 1.2em;
}

.post-preview-bottom-container h6{
    font-size: 1.1em;
}


.post-preview-bottom-container {
    width: 100%;
    padding: 3%;
}

.preview-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical;
    width: 100%;
    padding: 5px;

    height: 55px;

    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;

    line-height: 1.6;
    text-align: left;
}

.preview-form-share{
    padding: 15px 30px;
}

.status-request{
    background-color: #ff940c;
    color: white;

}

.status-share{
    background-color: #3b8fff;
    color: white;

}

.status-save{
    background-color: #ce6dfb;
    color: white;

}

.status-end{
    background-color: #92e64e;
    color: white;

}

.status-help{
    background-color: #92e64e;
    color: white;

}

.preview-contentname{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 124px);
    padding: 15px 25px;
}


.preview-face-container{
    margin: 2px 0;
}


.preview-face-container img{
    width: calc(100% / 6 - 100% / 30);
    margin-right: calc(100% / 45);
}


.dots_div{
    font-size: 50px;
    letter-spacing: -27px;
    position: relative;
    left: -7px;
    top: -2px;
    height: 10px;
}

.preview-face-container .empty{
  display: inline-flex;
  width: calc(100% / 6 - 100% / 30);

  aspect-ratio: 1 / 1.15;
  margin-right: calc(100% / 45);

  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  
    font-size: 2vb;
  /* font-size: 25px; */

  /* position: relative;
  top:5px; */
}

.preview-detail-container .preview-detail{
    width: 700px;
    min-width: 700px;
    font-size: 0.8em;
    grid-template-rows: 50px calc(100% - 50px);
    margin: 15px;
    aspect-ratio: 5/3;
    background-color: #BFC3D4;
    display: grid;
    position: relative;

}

.preview-detail button p,
.preview-detail button i{
    font-size: 0.9em;
}

.preview-detail h5{
    font-size: 1.2em;
}

.preview-detail .right-box{
    padding-left: 10px;
    padding-right: 30px;
}

.preview-detail .right-box .btns{
    margin-top: 8px;
    margin-bottom: 15px;
}

.my-modal-bg .preview-detail-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: none;
}

.preview-detail-container{
    width: 730px;
}

.preview-detail-container .left-box{
    width: 62%;
}

.preview-detail-container .form-status{
    width: 18%;
}

.preview-detail-container .select-liner:hover{
    cursor: auto;
    filter: inherit;
}

.preview-detail-container .nothave{
    filter: grayscale(1);

}

.left-box-bottom > .saved {
    color: #ce6dfb;
}
.preview-detail-box-top{
    padding: 10px 15px;
    font-weight: 500;
    font-size: 20px;
}

.preview-detail-box-bottom{
    padding: 15px 15px;
    padding-top: 0px;
    align-items: center;
    justify-content: space-between;
}

.preview-detail-box-bottom .btns button{
    padding: 7px 35px;
    margin-left: 15px;
}