h5{
    font-size: 20px;
}

body{
    font-size: 17px;
}

.characters-spread{
    /* margin-top: 15px; */
    width: 600px;
    height: 500px;
    background-color: #3f3f50;

    padding: 15px 20px;
}

/* .characters-container-box{
    height: 410px;
    overflow-y: scroll;
} */

.characters-container{
    width: 100%;
}

.character-list{
    width: 95px;
    aspect-ratio: 1/1.15;
    position: relative;
}

.heroes-spread-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(140px, 1fr));
    place-items: center;

    width: 100%;

    height: 700px;
    overflow-y: scroll;
}

 
.character-list img{
    width: 100%;
}

.character-list-box{
    width: calc(100% / (100% / 95px));
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.select-liner{
    filter: drop-shadow(1px 1px 1px #abacb0 );
    /* width: 100%; */
}

.select-liner:hover{
    filter: drop-shadow(0 0 3px #fff87b );
    cursor: pointer;
}

.memo{
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    margin: 0;
    padding: 16px 19px;
    overflow-y: scroll;

}

.char-selected{
    width: 78px;
    /* height: 90px; */
    aspect-ratio: 1/1.15;
    /* background: #BFC3D4; */
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -4px; 
    left: -4px; 

    z-index: -1;

  }

  .character-list-box .form-selected{
    
    width: 95px;
    aspect-ratio: 1/1.15;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    
    background-color: rgba(102, 102, 102, 0.7);

    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

.character-list-box:hover .form-selected{
    background-color: rgba(102, 102, 102, 0.5);
}

.character-list-box .form-selected i{
    color: white;

    font-size: 38px;
    display: block;
    transform: rotate(45deg);
}


.formmake-topcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* height: 600px; */
    transform: scale(0.7);
    width: 142.5%;
    transform-origin: 0 0;

    margin-top: 30px;
    margin-bottom: -150px;
}

.askform-container{
    width: 450px;
    min-width: 400px;
    height: 600px;
    max-height: 600px;
    background-color: #BFC3D4;
    margin-right: 20px;

    font-size: 17px;

    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
}


.askform-container .contents{
    padding: 0 30px 15px 30px;

    display: grid;
    grid-template-rows: 60px 1.5fr 1fr;
    row-gap: 20px;
}

.askform-container .form-border-container > h5{
    margin-bottom: 3px;
    font-size: 18px;
}

.askform-container .select-liner:hover{
    filter: inherit;
    cursor: inherit;
}

.askform-container .select-liner span{
    font-size: 0.8em;
}

.askform-container .memo{
    font-weight: 600;
}



.detail-req-form-container{
   
    height: 400px;

    background-color: #BFC3D4;

    /* margin-left: auto;
    margin-right: auto; */

    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 17px;

    display: grid;
    grid-template-rows: 50px calc(100% - 50px);

    position: relative;

} 


.form-container{
   
    width: 1000px;
    min-width: 1000px;
    aspect-ratio: 5/3;

    background-color: #BFC3D4;



    font-size: 17px;

    display: grid;
    grid-template-rows: 60px calc(100% - 60px);

    position: relative;

    /* transform: scale(0.8); */

} 

.form-title{
    display: flex;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.form-title button i {
    margin-right: 10px;
}

.detail-req-form-container .form-status,
.form-container .form-status{
    position: relative;
    display: inline-block;

    width: 14%;
}

.askform-container .form-status{
    width: 35%;
}


.form-status > button,
.form-status > div{
    width: 100%;
    height: 100%;
}

.form-status ul{
    display: none;
    z-index: 1;
    position: absolute;
    
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.form-status li{
    width: 100%;
    height: 60px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-name > button,
.content-name > div{
    width: 100%;
    height: 100%;

    padding: 0 35px;
}



.content-name > ul{
    display: none;

    z-index: 2;
    position: absolute;
    
    width: 100%;

    overflow: hidden;
}

.content-name > ul li{
    width: 100%;
    height: 60px;
    margin: 0;

    padding: 10px 35px;
}

.content-name {
    position: relative;
}

.detail-req-form-container .left-box{
    grid-template-rows: 60px 5fr ;
    row-gap: 30px;

}


.left-box{
    width: 65%;
    padding: 0 40px;

    display: grid;
    grid-template-rows: 60px 5fr 1fr;
    row-gap: 20px;
}


.form-author{
    padding: 10px 15px;
    padding-right: 25px;
    /* width: 230px; */
}

.form-author span{
    margin-left: 20px;
}

.form-char-container{
    min-width: 375px;
}

.detail-req-form-container .form-border-container {
    width: 100%;
    /* justify-self: center; */
    /* margin-bottom: 20px; */

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;

    place-items: center;

    margin-bottom: 20px;
}   

.detail-req-form-container .form-border-container h5{
    font-size: 1.1em;
    width: 60px;
    align-self: center;
    /* margin-right: 10px; */
    margin-bottom: 20px;
    /* margin-left: 15px; */
}

.detail-req-form-container .grid-form-center-5{
    grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.grid-form-center-5 .character-5 {
    margin:0px 15px 0px 0px;
    /* width: 90px; */
    width: calc(100% / 3 - 55px);
    position: relative;

    z-index: 1;
}

.detail-req-form-container .grid-form-center-7:nth-child(1){
    grid-column: 1 / 3;
	grid-row: 1 / 2;
}
.detail-req-form-container .grid-form-center-7:nth-child(2){
    grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.detail-req-form-container .form-char-container{
    width: 90%;
}

.form-border-container h5{
    font-weight: 600;
}

.form_spot img{
    width: 100%;
}

.empty{
  width: 100%;
  aspect-ratio: 1/1.15;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  
 
  font-size: 25px;
}

.character-5 {
    margin:0px 40px 10px 0px;
    /* width: 90px; */
    width: calc(100% / 3 - 40px);
    position: relative;

    z-index: 1;
}

.preview-detail .character-5,
.askform-container .character-5 {
    margin:0px 15px 10px 15px;
    /* width: 90px; */
    width: calc(100% / 3 - 40px);
    position: relative;

    z-index: 1;
}


.character-10 {
    margin:0px 8px 10px 0px;
    width: calc(100% / 5 - 10px);

    z-index: 1;
    position: relative;
}

.character-7 {
    margin:0px 20px 10px 0px;
    width: calc(100% / 4 - 20px);

    z-index: 1;
    position: relative;
}


.form_spot .out{

    width: 33%;
    position: absolute;
    z-index: 2;

    top: -7%;
    right: 0;
}


  
.out:hover{
    cursor: pointer;
}

.spot-selected-empty{
    width: calc(100% + 12px);
    aspect-ratio: 1 / 1.15;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -6px; 
    left: -6px; 

    z-index: -1;
}

.spot-selected-full{
    width: calc(100% + 12px);
    aspect-ratio: 1 / 1.15;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 25px;

    position: absolute;
    top: -6px; 
    left: -6px; 

    z-index: -1;
}

.left-box-bottom{
    margin-bottom: 5px;
}

.charSetting-btn{
    border: none;
    padding: 7px 45px;
}

.hero-setting-container{
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 125%;
    height: 125%;
    background: rgba(0, 0, 0, 0.4);

    transform: scale(0.8);
    transform-origin: 0 0;
    
    display: none;
}

.hero-setting-container .charPublic-checkbox:checked + .checkbox-img::before{
    left: -6px;
    top: -24px;
}

.madal-background{
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: none;

    
}

.save-check{
    background-color: #3f3f50;
    color: white;
    padding: 20px 25px;
    position: relative;
    clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0% calc(100% - 15px), 0 0);
    margin-bottom: 15px;
    width: 100%;
    /* display: none; */
}

.save-check::before {
    content: '';
    position: absolute;
    right: calc(100% - 15px);
    bottom: 0;
    width: 15px;
    height: auto;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, transparent 50%, #BFC3D4 50%);
}
.save-check::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15px;
    height: auto;
    aspect-ratio: 1 / 1;
    background: linear-gradient(135deg, #BFC3D4 50%, transparent 50%);
}

.save-check p{
    font-size: 0.9em;
    font-weight: lighter;
    color: #efefef;
}

.save-check .form-status-check{
    margin-bottom: 25px;
}



.charSetting-ele{
    padding: 3px 0;
    margin-right: 30px;
    align-items: center;
}

.charSetting-ele:hover{
    cursor: pointer;
    /* color: #666666; */
    opacity: 90%;
}

.form-status-check .charSetting-ele span{
    font-weight: 500;
}

.charSetting-ele span {
    font-weight: 600;
}

.charPublic-checkbox{
    appearance: none;
}

.charPublic-checkbox + .checkbox-img {
    /* margin-top: 3px; */
    width: 14px;
    height: 14px;

    border: 3px solid white;
    position: relative;
}

.charPublic-checkbox:checked + .checkbox-img::before{
    content:'✔';
    font-size: 1.6em;
    text-align: center;
    position:absolute;
    left: -4px;
    top: -260%;

    color: #3b8fff;
}



.havinghero-check label:hover{
    cursor: pointer;

}

.right-box {
    width: 40%;

    padding-left: 20px;
    padding-right: 40px;
    display: grid;
    grid-template-rows: 0.8fr 5fr 1.2fr;
    row-gap: 7px;
}

.detail-req-form-container .right-box {
    width: 40%;

    padding-left: 20px;
    padding-right: 40px;
    display: grid;
    grid-template-rows:  4fr 1.2fr;
    row-gap: 7px;
}

.explain-title {
    font-size: 20px;
    font-weight: bold;
}

.right-box .memo-container{
    position: relative;
}

.detail-req-form-container .right-box .memo-container{
    margin-top: 20px;
}

.right-box .cnt-text{
    position: absolute;

    bottom: 7px;
    right: 12px;

    text-align: end;
}

.right-box .btns{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.detail-req-form-container .right-box .btns{
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

.right-box .btns button{
    height: 100%;
    width: calc(50% - 10px);

    border: none;
}

.charSpread-top {
    margin-bottom: 20px;
    font-size: 15px;
}

.charSpread-top-btn{
    padding: 3px 15px;
    border: none;
}

.filter-and-heroes{
    padding: 0 50px;
    display: flex;
    justify-content: center;
    /* margin-top: 25px; */

    transform: scale(0.7);
    transform-origin: 0 0;
    width: 142.5%;

    margin-bottom: -120px;
}

.hero-filter{
    width: 380px;
    color: white;
    clip-path: polygon(30px 0%, 100% 0, 100% 100%, 0 100%, 0% 30px);
    position: sticky;
    top:200px;
    padding: 32px 30px;

    margin-right: 30px;
    max-height: 641px;
}

.hero-filter > div{
    margin-bottom: 35px;
}

.hero-filter > div > h5{
    margin-bottom: 8px;
}

.hero-filter .filterreset{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    border: none;
    padding: 10px 17px;
    width: 160px;

    font-size: 18px;
    font-weight: 500;

    right: 20px;
    top: 20px;
}

.hero-filter > h5{
    font-size: 22px;
    font-weight: 600;

    margin-bottom: 35px;
}

.hero-filter .hero-namesearch{
    position: relative;
}

.hero-filter .hero-namesearch input{
    border: none;

    width: 100%;
    padding: 10px 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;

    font-size: 16px;
    font-weight: 500;
}

.hero-filter .hero-namesearch i {
    position: absolute;

    top: 45px;
    right: 15px;
    
    font-size: 20px;

    font-weight: bolder;
}

.hero-filter .havinghero-check{
    margin-bottom: 15px;
}

.hero-filter .havinghero-check h6{
    font-size: 18px;
}

.hero-filter .sort-badges > div,
.hero-filter .class-badges > div{
    font-size: 16px;
    width: calc(50% - 8px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 12px;
    border-radius: 5px;

    font-weight: 600;
}

.hero-filter .class-badges{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-filter .class-badges > div{
    margin-bottom: 7px;
}

.hero-filter .class-badges img{
    height: 1.4em;
}
.hero-filter .class-badges p{
    text-align: center;
}

.hero-filter .class-container{
    margin-bottom: 0;
}

.hero-filter .typeselecter{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.hero-filter .typeselecter img{
    width: calc(100% / 5 - 10px);
}

.hero-filter .typeselecter img:hover{
    cursor: pointer;
}

.hero-filter .typeselecter .inactive{
    filter: grayscale(1);
}

.select-badges div {
    color: #666666;
    background-color: #dedede;
}

.select-badges div:hover {
    background-color: #c6c6c6;
    
    cursor: pointer;
}

.select-badges div:active {
    background-color: #a9a9a9;
    /* border: 1px solid white; */
}

.select-badges .filter-selected {
    color: #ffffff;
    background-color: #3b8fff ;
}

.select-badges .filter-selected:hover {
    background-color: #4c9aff ;
    cursor: pointer;
}


.select-badges .filter-selected img{
    filter: brightness(400%);
}

.heroes-speread{
    padding: 40px;
}

.mypage_link a{
    padding: 12px 25px;
    font-size: 16px;
}

.mypage_link{
    margin-bottom: 40px;
}




@media screen and (max-width: 1600px) {
    .askform-container {
        width: 1000px;
        min-width: 1000px;
        height: 400px;
        margin-right: 0;

        display: grid;
        grid-template-rows: 60px calc(100% - 60px);
    }

    .askform-container .contents{
        padding: 0 45px;

        display: grid;
        grid-template-rows: 60px calc(100% - 70px);
        grid-template-columns: 1fr 320px;
        row-gap: 10px;
        column-gap: 70px;
    }

    .askform-container .form-border-container{
        grid-column: 1 / 2;
        grid-row : 2 / 3;
        
        margin-bottom: 15px;
        place-items: center;

    }

    .askform-container .form-border-container > h5{
        margin: 0px;
        font-size: 18px;
    }

    .askform-container .memo-container{
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        margin: 15px 0;


    }

    .askform-container .character-5 {
        margin:0px 30px 10px 0px;
        /* width: 90px; */
        width: calc(100% / 3 - 70px);
        position: relative;

        z-index: 1;
    }


    .askform-container .character-10 {
        margin:0px 8px 10px 0px;
        width: calc(100% / 5 - 30px);

        z-index: 1;
        position: relative;
    }
    
    .askform-container .form-status{
        width: 14%;
    }

    .askform-container + .form-container{
        margin-top: 17px;
        margin-bottom: -130px;
    }
}

.spinner-container{
    width: 1000px;
    height: 600px;
    background-color: #BFC3D4;

    position: absolute;
    z-index: 5;
    /* left : calc(50% - 500px); */
    /* top: 528px; */
}

.spinner-container p{
    width: 100%;
    text-align: center;
    
    margin-top: 35px;
    margin-bottom: 10px;

    font-size: 19px;
    font-weight: 600;
}

/* .filter-sort-btn{
    display: flex;
    justify-content: space-between;

    width: 125px;

    margin: 5px 8px;
}

.filter-class-btn{
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.filter-class-btn p {
    width: 85px;
    text-align: center;
}


.filter-type-btn {
    display: flex;
    justify-content: space-between;

    width: 92px;
}

.filter-type-btn p{
    width: 50px;
    text-align: center;
}

.filter-checkbox{
    appearance: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 10px;
}

.filter-checkbox:checked + .filter-class-btn{
    background-color: #3b8fff;
    color: white;
}

.filter-checkbox:checked + .filter-class-btn>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.filter-checkbox:checked + .filter-type-btn>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.filter-checkbox:checked + .filter-type-btn{
    background-color: #ffa801;
    color: white;
}

.filter-class-btn-container {
    position: relative;

    margin: 2.5px 8px;
}

.filter-type-btn-container {
    position: relative;

    margin: 2.5px 8px;
}

.checked-filter-box{
    width: 25px;
    height: 25px;

    border-radius: 5px;
    margin: 0px 3px;

    text-align: center;
}

.checked-filter-box img{
    height: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.class-box{
    background-color: #3b8fff;
}

.type-box{
    background-color: #ffa801;
}

.checked-filter-box:hover{
    cursor: pointer;
}

.party-name{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 0px 6px 10px;

    display: none;
} */