.forum-preview-container{

    margin-top: 70px;

    max-width: 1500px;
    min-width: 1050;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;;

    position: relative;

    
}

.forum-preview-container h6{
    font-size: 17px;
    font-weight: 500;
}

.forum-preview-tag{
    width: 380px;
    padding: 10px 40px;


    clip-path: polygon(25px 0%, 100% 0, calc(100% - 25px) 50%, 100% 100%, 0 100%, 0 25px);
    /* background-image: linear-gradient(to right, #3b8fff, #3b8fff); */
    background-color: #3b8fff;

    position: absolute;

    top: -10px;
    
}

.forum-preview-tag h5 {
    font-weight: 600;
    font-size: 28px;
}


.forum-preview{
    padding: 35px;
}

.forum-preview a{
    max-width: 650px;
    width: 550px;
    margin: 0px 10px;
}


.forum-link{
    font-size: 1.1em;
    font-weight: bold;
}

.forum-preview-line{
    margin: 0px 10px;

    width: 600px;
}

.forum-preview-line h5{
    margin-top: 13px;
    font-size: 23px;
}


.post-preview-container{
    border: 3px solid #BFC3D4;

    transition-duration: 0.3s;

    /* max-width: 100%;
    width: 550px; */
    min-width: 550px;
    font-size: 17px;
    font-weight: 500;

}

.post-preview-container:hover{
    cursor: pointer;

    border: 3px solid #ffffff;
    /* box-shadow: 2px 2px 4px 2px rgb(255, 255, 255); */

}

.post-preview-top-container{
    width: 100%;
}

.post-preview-bottom-container {
    width: 100%;
    padding: 20px;
}

.preview-paragraph {
    width: 100%;
    padding: 8px;

    height: 70px;

    overflow: hidden;
    padding-left: 15px;
}

.preview-form-share{
    padding: 15px 30px;
}

.preview-contentname{
    padding:15px 25px;
}


.preview-face-container{
    margin: 2px 0;
}


.preview-face-container img{
    width: calc(100% / 6 - 100% / 30);
    margin-right: calc(100% / 45);
}

.dots{

    filter: invert(24%) sepia(4%) saturate(2522%) hue-rotate(202deg) brightness(92%) contrast(88%);
}

.preview-face-container .empty{
  display: inline-flex;
  width: calc(100% / 6 - 100% / 30);

  aspect-ratio: 1 / 1.15;
  margin-right: calc(100% / 45);

  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  
    font-size: 2vb;
  /* font-size: 25px; */

  /* position: relative;
  top:5px; */
}

