.characters-spread{
    /* margin-top: 15px; */
    width: 600px;
    height: 500px;
    background-color: #3f3f50;

    padding: 15px 20px;
}

.characters-container-box{
    height: 410px;
    overflow-y: scroll;
}

.characters-container{
    width: 100%;
    /* height: 410px; */
    /* overflow-y: scroll; */
}

.character-list{
    width: 70px;
    height: 70px;
    position: relative;

    z-index: 1;
}

.character-list img{
    width: 70px;
}

.character-list-box{
    width: calc(100%/6);
    margin-bottom: 20px;

    /* height: 70px; */
    /* aspect-ratio: 1 /1; */

}

.select-liner{
    filter: drop-shadow(1px 1px 1px #abacb0 );
}

.select-liner:hover{
    filter: drop-shadow(0 0 3px #fff87b );
    cursor: pointer;
}

.memo{
    width: 100%;
    height: 240px;
    border: none;
    resize: none;
    margin: 0;
}

.char-selected{
    width: 78px;
    /* height: 90px; */
    aspect-ratio: 1/1.15;
    /* background: #BFC3D4; */
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -4px; 
    left: -4px; 

    z-index: -1;

  }

.character-5 .out{

    width: 28px;
    position: absolute;
    z-index: 2;

    top: -3px;
    right: 0;
}

.character-10 .out{

    width: 25px;
    position: absolute;
    z-index: 2;

    top: -8px;
    right: 0;
}

.character-7 .out{

    width: 27px;
    position: absolute;
    z-index: 2;

    top: -5px;
    right: 0;
}
  
.out:hover{
    cursor: pointer;
    
}

.share-or-ask{
    position: relative;
    display: inline-block;

    width: 120px;

}

.share-or-ask-btn{
    width: 100%;
    height: 35px;
}

.share-or-ask-menu{
    display: none;

    z-index: 5;
    position: absolute;
    
    width: 100%;

    overflow: hidden;

}

.charSetting-container{
    width: 100%;
    
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    margin-top: 23px;
    font-size: 15px;
    font-weight: bold;
}

.charSetting-btn{
    border: none;
    
}


.charSetting-ele{
    /* width: 100%; */
    padding: 3px 15px;
    margin: 0px 3px;
}

.charPublic-checkbox{
    appearance: none;
}

.charPublic-checkbox + .checkbox-img {
    /* appearance: none; */
    
    /* display: flex; */

    margin-top: 3px;
    width: 14px;
    height: 14px;

    border: 3px solid white;
}

.charPublic-checkbox:checked + .checkbox-img::before{
    content:'✔';
    font-size: 1.6em;
    text-align: center;
    position:relative;
    left: -4px;
    top: -19px;

    color: #3b8fff;
    
}

.content-name-btn{
    width: 100%;
    height: 35px;

}

.content-name-menu{
    display: none;

    z-index: 5;
    position: absolute;
    
    width: 100%;

    overflow: hidden;
}

.content-name {
    position: relative;
}

.charSpread-top {
    margin-bottom: 20px;
    font-size: 15px;
}

.charSpread-top-btn{
    padding: 3px 15px;
    border: none;
}

.char-filter {
    position: relative;
}

.char-filter-menu{

    /* display: none; */


    width: 400px;

    z-index: 5;
    position: absolute;

    top: 22px;

    overflow: hidden;

    padding: 10px 5px;

}

.filter-btn {

    border: none;
    padding: 3px 10px;

    /* margin-top: 5px; */
    /* margin: 0px 8px; */

    display: flex;
    align-items: center;

    border-radius: 5px;

    font-weight: bold;
}

.filter-btn img {
    height: 16px;
} 

.filter-btn:hover{
    cursor:pointer;
}

.filter-unselected {
    color: #666666;
    background-color: #dedede;
}

.filter-unselected:hover {
    background-color: #c6c6c6;
    /* border: 1px solid white; */
}

.filter-unselected:active {
    background-color: #a9a9a9;
    /* border: 1px solid white; */
}

.filter-selected {
    color: #666666;
    background-color: #fff87b ;
}

.filter-selected:hover {
    background-color: #ffee6d ;
}

/* .filter-selected:active {
    background-color: #ffe23e ;
} */


.filter-sort-btn{
    display: flex;
    justify-content: space-between;

    width: 125px;

    margin: 5px 8px;
}

.filter-class-btn{
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.filter-class-btn p {
    width: 85px;
    text-align: center;
}


.filter-type-btn {
    display: flex;
    justify-content: space-between;

    width: 92px;
}

.filter-type-btn p{
    width: 50px;
    text-align: center;
}

.filter-checkbox{
    appearance: none;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 10px;
}

.filter-checkbox:checked + .filter-class-btn{
    background-color: #3b8fff;
    color: white;
}

.filter-checkbox:checked + .filter-class-btn>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.filter-checkbox:checked + .filter-type-btn>img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.filter-checkbox:checked + .filter-type-btn{
    background-color: #ffa801;
    color: white;
}

.filter-class-btn-container {
    position: relative;

    margin: 2.5px 8px;
}

.filter-type-btn-container {
    position: relative;

    margin: 2.5px 8px;
}

.checked-filter-box{
    width: 25px;
    height: 25px;

    border-radius: 5px;
    margin: 0px 3px;

    text-align: center;
}

.checked-filter-box img{
    height: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(1%) hue-rotate(66deg) brightness(101%) contrast(102%);
}

.class-box{
    background-color: #3b8fff;
}

.type-box{
    background-color: #ffa801;
}

.checked-filter-box:hover{
    cursor: pointer;
}

.party-name{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin: 12px 0px 6px 10px;

    /* display: none; */
}