




.explain-content {
    margin-top: 5px;
    margin-bottom: 10px;

    padding: 8px 14px;
}




.form_spot img{
    width: 100%;
}



/* .character-10 img{
    width: 70px;
    height: 80px;
}

.character-7 {
    margin:0px 10px 7px 0px;
    width: 80px;

    z-index: 1;
    position: relative;
}

.character-7 img{
    width: 80px;
    height: 80px;
} */







/* .character-10 .spot-selected-empty{
    width: 80px;
    height: 92.4px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5px; 
    left: -5px; 

    z-index: -1;
}

 .character-10 .spot-selected-full{
    width: 80px;
    height: 92.4px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5px; 
    left: -5px;  

    z-index: -1;

}

.character-7 .spot-selected-empty{
    width: 90px;
    height: 104px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5px; 
    left: -5px; 

    z-index: -1;
}

 .character-7 .spot-selected-full{
    width: 90px;
    height: 104px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5px; 
    left: -5px;  

    z-index: -1;

} */





/* .arena-party1 {
    width: 100%;
    padding: 0px 20px;
}

.comment-box {
    width: 800px;
    height: 400px;
    background-color: rgb(211, 211, 211);

    padding: 12px 10px;

    overflow: auto;
}



.comment-header {
    font-size: 14px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
}

.character-5-comment {
    margin:0px 10px 0px 0px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
}

.character-5-comment img{
    width: 50px;
}

.character-5-comment > div{
    width: 46px;
    height: 52px;

    font-size: 20px;
}


.comment-body {
    margin: 0px 40px;
    width: 400px;
}

.comment-wrapper {
    height: 70px;
    width: 300px;
    padding-top: 12px;
}

.form-detail {
    width: 100%;
    text-align: right;
}



.reply {
    margin-top: 5px;
    margin-left: 8px;
}

.help-btn {
    border-style: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 30px
} */









