.hero-setting{
    width: 780px;
    height: 337px;

    position: fixed;
    left: calc((100% - 780px) / 2);
    top: calc((100% - 337px) / 2 - 100px) ;
    display: block;
}

.post-title{
    height: 54px;
}

.post-title div {
    padding: 15px 20px;
}

.post-title .close{
    border: none;
    height: 100%;
    aspect-ratio: 1/1;

    font-size: 28px;
}

.setting-content{
    width: 100%;
    /* height: calc(100% - 35px); */
    height: calc(100% - 57px);

    padding: 15px 20px;
}

.setting-content p,
.setting-content input,
.setting-content label
{
    font-size: 1.2em;
    font-weight: 600;
}

.hero-setting .charSetting-ele{
    width: 40px;
    margin: 0;
}

.hero-setting .input-w{
    width: 150px;
}

.setting-charname{
    font-size: 17px;
    font-weight: bold;
}

.setting-class-size{
    width: 25px;
    height: 25px;
}

.setting-charinfo{
    width: 34%;
    max-width: 300px;
}


.setting-charimg{
    /* width: 150px; */
    width: 130px;
    position: relative;

    z-index: 1;
    filter: drop-shadow(0 0 1px #2e2e2e );

}

.setting-charimg img{
    width: 130px;
}

.setting-charimg span{
    font-size: 18px;
}

.setting-form{
    width: 60%;
    max-width: 700px;
    font-size: 16px;
    position: relative;
}



.setting-form img{
    width: 20px;
}

.setting-btns .all-submit{
    width: 180px;
}

.lv-input{
    width: 125px;
}

.lv-input input[type=input]{
    width: 100%;
    border: none;
    text-align: center;
}

.lv-input input[type=input]:focus{
    outline: none;
}

.setting-normal-submit{
    width: 90px;
    height: 45px;
    font-size: 16px;
}

.setting-btns{
    position: absolute;
    right: 0px;
    bottom: 0;

    width: 85%;

    /* justify-self: start; */
}

.setting-all-submit{
    width: 100%;
    height: 45px;
    font-size: 16px;
}

.herosetting-placeholder{
    position: absolute;

    top: 95px;
    left: calc(50% - 90px);
}

.nothave{
    filter: grayscale(1);
}

