

.move-btn-container{
    /* margin-top: 40px; */


    width: 1050px;
    margin-left: auto;
    margin-right: auto;

    height: 350px;
    /* overflow: hidden; */
    transform: scale(0.8);
}

.move-btn-container > div{
    width: calc(50% - 20px);
    height: 100%;
}

.move-btn{
    /* background-color: #BFC3D4; */
    background-image:  linear-gradient(#BFC3D4, #e0e2eb);
    clip-path: polygon(35px 0%, 100% 0, 100% 100%, 0 100%, 0% 35px);
    padding-top: 25px;
    padding-left: 30px;

    position: relative;
    height: 100%;

    top: 0px;
    right: 0px;

    /* overflow: hidden; */

    transition-duration: 0.5s;
}

.move-btn-shadow{
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,0.2));
}

.move-btn::after{
    content: "";
    width: 100%;
    height: 350px;
    position: absolute;

    left: 0px;
    top: 0px;
    
    clip-path: polygon(35px 0%, 100% 0, 100% 100%, 55% 100%);
    background-image: linear-gradient(rgba(164, 169, 194, 0.935), rgba(156, 160, 182, 0.1));
    
}

.move-btn::before{
    content: "";
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 1;

    left: 0px;
    top: 0px;

    clip-path: polygon(0 0, 30% 0, 0 75%);
    background-image: linear-gradient(rgba(199, 202, 218, 0.582), rgba(195, 197, 211, 0.251));
    
}

.move-btn:hover {
    cursor: pointer;

    top: -10px;
}


.move-btn > h4{
    font-size: 45px;
    font-weight: 700;
    position:relative;
    z-index: 5;
}

.move-btn > p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;

    position:relative;
    z-index: 5;
}

.move-btn-right > div {
    height: calc(50% - 15px);
}

.notice-btn{
    margin-bottom: 30px;
}

.formmake-btn-icon {
    width: 270px;
    height: 270px;
    position: relative;
    right: -250px;
    bottom: 50px;
    /* filter: invert(46%) sepia(9%) saturate(595%) hue-rotate(193deg) brightness(92%) contrast(86%); */

    background: 
    linear-gradient(to bottom, #535f95, rgb(216, 216, 222)), 
    url("/sources/img/sword-fill-svgrepo-com.svg")
    ;
    -webkit-mask: url("/sources/img/sword-fill-svgrepo-com.svg") no-repeat center / contain;
    mask: url("/sources/img/sword-fill-svgrepo-com.svg") no-repeat center / contain;
    background-size: 270px;
}

.notice-btn-icon {
    width: 180px;
    height: 180px;
    position: relative;
    right: -300px;
    bottom: 110px;
    /* filter: invert(46%) sepia(9%) saturate(595%) hue-rotate(193deg) brightness(92%) contrast(86%); */

    background: 
    linear-gradient(to bottom, #00146c, rgb(207, 207, 235)), 
    url("/sources/img/free-icon-open-book-2280294.png")
    ;
    -webkit-mask: url("/sources/img/free-icon-open-book-2280294.png") no-repeat center / contain;
    mask: url("/sources/img/free-icon-open-book-2280294.png") no-repeat center / contain;
    background-size: 270px;
}

.mypage-btn-icon {
    width: 150px;
    height: 150px;
    position: relative;
    right: -340px;
    bottom: 90px;
    /* filter: invert(46%) sepia(9%) saturate(595%) hue-rotate(193deg) brightness(92%) contrast(86%); */

    background: 
    linear-gradient(to bottom, #071864, rgb(207, 207, 235)), 
    url("/sources/img/free-icon-gears-3524592.png")
    ;
    -webkit-mask: url("/sources/img/free-icon-gears-3524592.png") no-repeat center / contain;
    mask: url("/sources/img/free-icon-gears-3524592.png") no-repeat center / contain;
    background-size: 270px;
}



