.instruction-header{
    margin-top: 50px;

    /* padding-left: 100px;
    padding-right: 100px; */
    padding: 0 calc(1vw * 2.5);


    margin-bottom: 50px;

    text-align: center;
}

.instruction-header h4{
    font-size: 28px;
    font-weight: 700;
}

.forum-category {

    margin-top: 30px;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #BFC3D4;

    white-space: nowrap;

    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 100% 100%, 25px 100%, 0 calc(100% - 25px), 0 0);


}

.forum-category a{
    display: inline-flex;

    width: 280px;
    height: 70px;

    margin: 0px;

    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 600;

    border: 0;
    box-shadow: none;

    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 25px, 100% 100%, 100% 100%, 25px 100%, 0 calc(100% - 25px), 0 0);
    background-color: #BFC3D4;
    color:#666666;
}

.forum-category a:hover{
    cursor: pointer;
    filter: brightness(1.05);
}

.forum-category .active{
    background-color: #3b8fff;
    color: white;
}

.instruction-contents{

    display: flex;
    justify-content: center;
    margin-bottom: 170px;

}

.notice-container{
    width: 1400px;
    min-width: 1000px;

    margin: 0 20px;
}

.notice-container .top{
    height: 20px;
    background-color: #BFC3D4;
}

.faq-container .top{
    background-color: #3f3f50;
}



.notice-container .instruction-post{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    /* height: 70px; */
    padding: 27px 60px;
    color: #666666;
    background-color: #BFC3D4;
    border-top: 1.5px solid #efefef;

}

.notice-container .important .instruction-post{
    background-color: #3f3f50;
    color:white;

    border-top: 1.5px solid #BFC3D4;
}

.notice-container .important .instruction-post:hover{
    cursor: pointer;
    filter: brightness(1.15);
    color:white;
}

.notice-container .important span:nth-child(3){
    color: #BFC3D4;
}


.notice-container .instruction-post > span:nth-child(1){
    width: 72px;
    display: flex;
    align-items: center;
}

.notice-container li:not(.important) .instruction-post > span:nth-child(2){
    color: #3f3f50;
}

.notice-container .fa-solid{
    font-size: 1.3em;

}

.notice-container .fa-thumbtack{
    font-size: 1.3em;
    transform: rotate(45deg) translateX(17%);
    color: #ffed49;
    
}

.notice-container .instruction-post:hover{
    cursor: pointer;
    filter: brightness(1.07);
}

.notice-detail-container .top-btns a{
    padding: 12px 25px;
    font-size: 17px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
}

.notice-detail-container{
    margin-top: 30px;
}

.notice-detail-container .subject{
    padding: 13px 28px;
    font-size: 20px;

    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-background{
    margin-top: 5px;
    width: 100%;
    min-height: 300px;
    padding: 5px;
}

.notice-detail-container .content{
    background-color: white;
    width: 100%;
    min-height: 300px;

    padding: 25px 30px;
    font-size: 16px;
    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 0% calc(100% - 10px), 0 0);
    position: relative;
}

.notice-detail-container .content::before {
    content: '';
    position: absolute;
    right: calc(100% - 10px);
    bottom: 0;
    width: 10px;
    height: auto;
    aspect-ratio: 1 / 1;
    background: linear-gradient(45deg, transparent 50%, #efefef 50%);
}
.notice-detail-container .content::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: auto;
    aspect-ratio: 1 / 1;
    background: linear-gradient(135deg, #efefef 50%, transparent 50%);
}

.notice-detail-container .near-posts{
    padding: 15px 28px;
    font-size: 16px;

    margin-top: 10px;
    display: flex;
}

.admin-noticewrite{
    display: block;
    padding: 8px 15px;
    width: 100px;
    text-align: center;

    position: absolute;
    right: calc(50% - 700px );
    top: 650px;

    z-index: 1;
}


.faq-container .instruction-post span{
    color: #3f3f50;
}

.faq-container .answer-post{
    display: flex;
    

    font-size: 16px;
    font-weight: 500;


    height: 0px;
    overflow: hidden;

    transition: 0.3s ease;

}

.notice-container .answer-post > span:nth-child(1){
    width: 72px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.inquire-container {

    background-color: #BFC3D4;
}

.inquire-container .top{
    background-color: #3f3f50;
}

.inquire-body{
    display: grid;
    
    grid-template-columns: 90px 1fr;
    column-gap: 20px;
    row-gap: 30px;

    padding: 40px 60px;
    font-weight: 600;
    font-size: 16px;
    place-items: baseline start;
}

.inquire-body h6{
    font-size: 17px;
    font-weight: 600;
}

.inquire-body .txtarea-h6{
    padding-top: 15px;
    display: block;
}

.inquire-body textarea{
    padding: 15px;
    border: none;
    resize: none;
    overflow-y: scroll;

    width: 100%;
    height: 600px;
}

.upload-btn{
    padding: 8px 20px;
}

.uploaded-files{
    padding: 15px;
    margin-top: 15px;
    font-weight: 500;
}

.file-delete{
    color:#ff4747;
    margin-left: 10px;
    font-weight: 600;
}

.file-delete:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

input[type=file] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.send-mail{
    grid-column: 1 / 3;
    justify-self: end;
}

.send-mail input{
    border: none;
    padding: 12px 30px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 180px;
}

.pagenation{
    margin-top: 80px;
    margin-bottom: 80px;
    font-size:  16px;
    align-items: center;
}

.pagenation a{
    color: #3f3f50;
    margin: 3px;
}

.pagenation .active{
    color: #3b8fff;
}

.pagenation .jumps{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagenation .jumps{
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagenation > div:nth-child(2){
    margin: 0 25px;
}

.faq-edit-textarea{

    background: transparent;
}