.login-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-container h3{
    font-size: 34px;
    font-weight: bold;
}

.login-form{
    width: 350px;

    margin-left: auto;
    margin-right: auto;
}

.login-form input[type="submit"]{
    width: 100%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.login-form button{
    width: 100%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.btn-shadow a{
    display: inline-block;
    width: 100%;

    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;

    text-decoration-line: none;

}

.btn-link{
    height: 61.97px;
}

.btn-link:hover {
    cursor: pointer;
}

.signup-form{
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}

.signup-form input[type="submit"]{
    width: 70%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.password-input{
    position: relative;
}

.password-input i{
    position: absolute;
    
    top: 15px;
    right: 20px;
    
    font-size: 1.5em;

    cursor: pointer;
}

.signup-form > div{
    position: relative;
}

.signup-form .check{
    position: absolute;

    top:33px;
    right: 10px;
}

.signup-form .check button,
.signup-form .email-check-input button{
    /* padding: 6px 20px; */
    height: 33px;
    width: 96px;
}

.email-check-div{
    position: relative;
}

.signup-form .email-check-input{
    position: absolute;

    top:2px;
    right: calc(30% + 10px);
    display: none;
}

.signup-form input[name="email-check"]{
    width: 70%;
    border: none;
    padding: 8px 15px;
    display: block;
    font-size: 15px;
}

.email-check-div{
    display: none;
}

.naverlogin-bg{
    background-color: rgb(3, 199, 90);
}

.naverlogin-bg:hover{
    cursor: pointer;
}

.naver-logo{
    height: 45px;
    position: absolute;

    left: 70px;
    top: 4px;
}


.google-logo{
    height: 30px;
    position: absolute;

    left: 95px;
    top: 11px;
}

.x-logo{
    height: 23px;
    position: absolute;

    left: 83px;
    top: 16px;
}

.pw-id-find-container{
    width: 500px;
    position: fixed;
    right: 50%;
    top : 50%;
    transform: translateX(50%) translateY(-50%);
    display: none;
    
}

.pw-id-find-container .tabs button{
    width: 50%;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
    background-color: #3f3f50;
    color: #BFC3D4;
    border: none;
}

.pw-id-find-container .tabs .active{
    background-color: #BFC3D4;
    color: #3f3f50;
}

.pw-id-find-container .main-contents{
    padding: 20px 30px;
    height: 345px;
    position: relative;
}

.pw-id-find-container .main-contents .pw-find,
.pw-id-find-container .main-contents .id-find{
    position: absolute;
    width: calc(100% - 60px);
}

.pw-id-find-container .main-contents h5{
    margin-bottom: 8px;
    font-weight: 600;
}

.pw-id-find-container .main-contents p{
    font-size: 16px;
}

.pw-id-find-container .main-contents .info-msg{
    color: #666666;
    font-weight: 600;
    margin-bottom: 50px;
}

.pw-id-find-container .main-contents .fault-msg{
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
    color: #ff4747;

    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 283px;
}

.pw-id-find-container .btns{
    padding: 10px 30px;
    padding-bottom: 17px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.pw-id-find-container .btns button{
    padding: 8px 35px;
    border: none;
    font-size: 16px;
    font-weight: 600;
}

.pw-id-find-container .id-find .id-list{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;

    padding: 15px 20px;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(28px, 30px));
}