.login-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.login-container h3{
    font-size: 34px;
    font-weight: bold;
}

.login-form{
    width: 350px;

    margin-left: auto;
    margin-right: auto;
}

.login-form input[type="submit"]{
    width: 100%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.login-form button{
    width: 100%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.btn-shadow a{
    display: inline-block;
    width: 100%;

    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;

    text-decoration-line: none;

}

.btn-link{
    height: 61.97px;
}

.btn-link:hover {
    cursor: pointer;
}

.signup-form{
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}

.signup-form input[type="submit"]{
    width: 70%;
    font-size: 16px;
    padding: 14px;

    margin-bottom: 10px;
}

.password-input{
    position: relative;
}

.password-input i{
    position: absolute;
    
    top: 15px;
    right: 20px;
    
    font-size: 1.5em;

    cursor: pointer;
}

.signup-form > div{
    position: relative;
}

.signup-form .check{
    position: absolute;

    top:33px;
    right: 10px;
}

.signup-form .check button,
.signup-form .email-check-input button{
    /* padding: 6px 20px; */
    height: 33px;
    width: 96px;
}

.email-check-div{
    position: relative;
}

.signup-form .email-check-input{
    position: absolute;

    top:2px;
    right: calc(30% + 10px);
    display: none;
}

.signup-form input[name="email-check"]{
    width: 70%;
    border: none;
    padding: 8px 15px;
    display: block;
    font-size: 15px;
}

.email-check-div{
    display: none;
}

.naverlogin-bg{
    background-color: rgb(3, 199, 90);
}

.naverlogin-bg:hover{
    cursor: pointer;
}

.naver-logo{
    height: 45px;
    position: absolute;

    left: 70px;
    top: 4px;
}


.google-logo{
    height: 30px;
    position: absolute;

    left: 95px;
    top: 11px;
}

.x-logo{
    height: 23px;
    position: absolute;

    left: 83px;
    top: 16px;
}