.lv{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    bottom: -4px;
    right: 0px;
    z-index: 3;
}

.lv_dark{
    background-image: url("../sources/img/types/lv_dark.png");
  }

  .lv_fire{

    background-image: url("../sources/img/types/lv_fire.png");
  }

  .lv_grass{
    background-image: url("../sources/img/types/lv_grass.png");

  }

  .lv_light{ 
    background-image: url("../sources/img/types/lv_light.png");

  }

  .lv_water{
    background-image: url("../sources/img/types/lv_water.png");

  }

  .gak{
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    /* bottom: -8px; */
    bottom: -8%;
    right: 27%;
    z-index: 3;
  }

  .nogak{
    color: black;
    background-image: url("../sources/img/nogak.png");
  }

  .onegak{
    color: white;
    background-image: url("../sources/img/1gak.png");
  }

  .twogak{
    color: white;
    background-image: url("../sources/img/2gak.png");
  }