@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

img {
    user-drag: none;       /* Safari */
    -webkit-user-drag: none; /* Chrome, Safari */
    -moz-user-drag: none;    /* Firefox (비공식) */
  }

body {
    /* background-color: #f0f0f0; */
    background-image: url("../sources/img/background_img.png"), 
                    linear-gradient(#f0f0f0, #f0f0f0) ;
    box-sizing: border-box;
    background-size: 70px;
    font-family: Pretendard-Regular;
    color: #3f3f50;

    font-size: 14px;

    max-width: 1980px;

    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    min-width: 1200px;
}

p, div, h6{
    margin: 0px;
}

h4{
    font-size: 15px;
    margin: 0px;
}

h5{
    margin:0px;
}

a{
    text-decoration: none;
}

ul li {list-style : none;}
ul {padding-left:0; margin-left:0;}


nav {
    width: 100%;
    height: 55px;
    
    margin-bottom: 10px;
}

nav>div> a{
    color: #ffed49;

    font-weight: 400;
    font-size: 13px;
    padding: 0px 15px;
    text-decoration-line: none;

    display: inline-flex;
    align-items: center;

    height: 55px;
}

nav>div> a:hover{
    color: rgb(230, 230, 230);
}

.nav-box{
    padding: 0px 30px;
}

.nav-selected {
    /* border-bottom: 3px solid #ffed49; */
    position: relative;
}

.nav-selected::before{
    content: "";
    background-color: #ffed49;
    
    display: block;
    width: 98%;
    height: 3px;
    
    top: 52px;
    right: 0px;

    position: absolute;
    z-index: 1;
    filter: drop-shadow(2px 3px 2px rgba(45, 45, 45, 0.4));

}

.nav-selected::after{
    content: "▼";
    color: #ffed49;
    
    position: absolute;
    z-index: 1;

    top: 48px;
    right: 45%;

    filter: drop-shadow(2px 4px 2px rgba(45, 45, 45, 0.3));

}


.form-bg {
    background-color: #9e9d9d;
}

.bg-basicdark{
    background-color: #3f3f50;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: #3b8fff;
}

.bg-red{
    background-color: #ff4747;
}

.bg-yellow{
    background-color: #fff87b;
}

.bg-lightgray{
    background-color: #efefef;
}

.bg-gray{
    background-color: #BFC3D4;
}

.bg-green{
    background-color: #92e64e;
}

.bg-orange{
    background-color: #ff940c;
}


.color-black{
    color: #3f3f50;
}

.color-gray {
    color: #666666;
}

.color-yellow {
    color: #ffed49;
}

.color-white{
    color: white;
}

.color-red{
    color:#ff4747
}

.color-purple {
    color: #ce6dfb;
}

.color-lightgray {
    color: #efefef;
}

.color-blue {
    color: #3b8fff;
}

.shadow-basic{
    box-shadow: 2px 2px 4px 2px rgba(45, 45, 45, 0.2);
}

.shadow-filter-basic{
    filter: drop-shadow(2px 4px 2px rgba(45, 45, 45, 0.2));
}

.top-banner {
    width: 100%;
}

.notice-banner {
    width: 100%;
    height: 40px;

    font-size: 15px;
    font-weight: bold;

   text-decoration: none;
}

.notice-banner a{
    color: inherit;
    text-decoration: none; 
}

.middle-banner {
    width: 100%;
    height: 300px;

    display: flex;
}

.formmake-banner {
    width: 45%;
    height: 100%;
}

.basic-page-design{
    background-color: #BFC3D4;
    padding: 40px 50px ;

    clip-path: polygon(40px 0%, 100% 0, 100% 100%, 0 100%, 0% 40px);
    text-align: center;
    position: relative;
}

.basic-page-design::before{
    content: '';
    position: absolute;
    right: calc(100% - 40px);
    top: 0;
    width: 40px;
    height: auto;
    aspect-ratio: 1 / 1;
    background: linear-gradient(135deg, transparent 50%, #3f3f50 50%);

}

.input-box{
    width: 100%;
    border: none;
    padding: 15px;
    display: block;
    font-size: 15px;

    margin-left: auto;
    margin-right: auto;
}

.checkbox-none{
    appearance: none;
}

.basic-checkbox + .checkbox-img {
    /* appearance: none; */
    
    /* display: flex; */

    margin-top: 3px;
    width: 14px;
    height: 14px;

    border: 3px solid white;
}


.basic-checkbox:checked + .checkbox-img::before{
    content:'✔';
    font-size: 1.6em;
    text-align: center;
    position:relative;
    left: -4px;
    top: -19px;

    color: #3b8fff;
    
}

.checkbox-container{
    cursor: pointer;
}

.fault-msg{
    height: 21px;
}

.guid-banner-container {
    width: 45%;
    height: 100%;
}

.mid-ban-sizing {
    width:100%;
    height: 47%;
}

.forum-banner {
    width:100%;
    height: 1000px;
}

.forum-banner-title {
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.change-line{
    width: 100%;
    height: 1px;
}

.window-top{
    min-height: 25px;
    background-color: #3f3f50;
}

.btn-cut {
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 100% 100%, 8px 100%, 0 calc(100% - 8px), 0 0);
    box-shadow: inset -1px 1.5px 1px 0px rgba(255, 255, 255, 0.8);
    
}

.btn-shadow{
    /* width: 100%; */
    filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.45));
}
.basic-btn{
    border: 0;
    font-size: 14px;
}

.btn-blue{
    background-color: #3b8fff;
}

.btn-blue:hover{
    background-color: #4c9aff;
}

.btn-blue:active{
    background-color: #5ca3ff;
}

.btn-black{
    background-color: #3f3f50;
}

.btn-black:hover{
    background-color: #4d4d61;
}

.btn-black:active{
    background-color: #58586f;
}

.btn-yellow{
    background-color: #ff940c;
}

.btn-yellow:hover{
    background-color: #ffa42d;
}

.btn-yellow:active{
    background-color: #ffb14b;
}

.btn-purple{
    background-color: #ce6dfb;
}

.btn-purple:hover{
    background-color: #dd93ff;
}

.btn-purple:active{
    background-color: #de9efb;
}

.btn-green{
    background-color: #92e64e;
}

.btn-green:hover{
    background-color: #a0f060;
}

.btn-green:active{
    background-color: #bbf789;
}

.btn-white{
    background-color: #efefef;
}

.btn-white:hover{
    background-color: rgb(224, 224, 225);
}

.btn-white:active{
    background-color: rgb(204, 204, 205);
}

.btn-gray{
    background-color: #666666;
}

.btn-gray:hover{
    background-color: #757575;
}

.btn-gray:active{
    background-color: #8c8c8c;
}

.btn-red{
    background-color: #ff4747;
}

.btn-red:hover{
    background-color: #ff6262;
}

.btn-red:active{
    background-color: #ff8181;
}


.own-modal{
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);

    display: none;
}

.right-line{
    border-right: solid 3px white;
}

.only-english{
    ime-mode: disabled;
}

.lowercase{
    text-transform: lowercase;
}

.nickname-container{
    display: inline-block;
    position: relative;
}
.nickname {
    width: 40px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nickname:hover{
    cursor: pointer;
}

.logout-container{
    display: none;

    width: 150px;


    position: absolute;
    top: 50px;
    right: -55px;
}

.logout-container>a{
    font-weight: 400;
    font-size: 13px;
    text-decoration-line: none;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    /* margin: 10px 0px; */

    border-top : 1px solid white
}

.logout-container>a:hover{
    background-color: #4d4d60;
}

.logout-container>p{
    font-weight: 400;
    font-size: 13px;
    text-decoration-line: none;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    /* margin: 10px 0px; */

}


.fasize {
    font-size: 2em;
}

.important-title {
    font-size: 20px !important;
}


