<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로드의 전술서:이용 안내</title>
    <link href="/sources/img/로전아이콘.svg" rel="shortcut icon" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/instruction.css" rel="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8925406073494167"
     crossorigin="anonymous"></script>
</head>
<body>

    
    <%- include('../nav_and_banner.ejs', {page: 'notice', nickname: data.nickname, notice:data.banner_notice }) %> 


    <%- include('./info_tab.ejs', {from: 'ask'}) %> 
    

    <div class="instruction-contents">
        
        <div class="notice-container inquire-container shadow-basic">
            <div class="top"></div>
            <form class="inquire-body" method="post" action="/info/ask/sendmail">
                <h6>수신자</h6>
                <div>teamsanghyang@gmail.com</div>

                <h6>발신자</h6>
                <div class="w-100"><input type="text" name="from" placeholder="유저의 이메일을 입력하세요." value="<%= data.user_email %>" class="input-box w-100"></div>
                
                <h6>제목</h6>
                <div class="w-100"><input type="text" name="title" placeholder="제목을 입력하세요." class="input-box w-100"></div>
                
                <h6 class="txtarea-h6">문의 내용</h6>
                <div class="w-100 align-self-stretch"><textarea name="inq_body" placeholder="문의 내용을 입력하세요." class="blue-scroll" ></textarea> </div>
                
                <h6>첨부파일</h6>
                <div class="w-100 ">
                    <label for="file" class="btn-shadow">
                        <div class="upload-btn btn-blue btn-cut border-0 color-white">파일 선택</div>
                    </label>
                    <span class="ms-4 fw-normal">최대 3개(15mb)까지 첨부 가능합니다.</span>
                    <input type="file" nmae="file" id="file" multiple> 

                    <div class="uploaded-files bg-lightgray">
                        <p>선택된 파일 없음</p>
                    </div>
                </div>
                <div class="btn-shadow send-mail" style="width: 200px;">
                    <input type="submit" value="메일 전송" class=" btn-yellow btn-cut color-white ">

                </div>
            </form>
        </div>
        

    </div>


        
    <%- include('../footer.ejs') %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <script>

        function fileNameRender(){
            let files = $("#file").prop("files")
            $(".uploaded-files").empty();
            for(let i=0; i<files.length; i++){
                $(".uploaded-files").append(`<p>${files[i].name} <span class="file-delete">X</span></p>`);
            }
            if(files.length <= 0) $(".uploaded-files").append(`<p>선택된 파일 없음 </p>`)
        }

        $("#file").on('change',function(){
            // let file_names = $("#file").prop("files")
            let files = document.querySelector('#file').files;
            if(files.length > 3 || files.length < 0){
                alert("파일 개수는 3개까지만 첨부 가능합니다.");
                return false;
            }

            let file_size = 0;
            for(let i=0; i<files.length; i++){
                file_size += files[i].size
            }
            console.log(file_size)
            if(file_size > 15000000){
                alert("파일 크기가 너무 큽니다.")
                return false;
            }
            fileNameRender()
        });

        $(document).on("click", ".file-delete" , function(){
            let idx = $(".file-delete").index(this);
            const input = $("#file").prop("files");
            const files  = input;
            const dt = new DataTransfer();
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                if (idx !== i) {
                    dt.items.add(file); // here you exclude the file. thus removing it.
                }
            }
            document.getElementById('file').files = dt.files; // Assign the updates list

            fileNameRender();
        })

        //실제 파일을 base64로 변환하는 코드 
        function fileToBase64(file) {
            return new Promise((resolve, reject) => {
                const reader = new FileReader();
                reader.readAsDataURL(file);
                
                reader.onerror = () => {
                reader.abort();
                reject(new Error('파일을 읽는 도중 오류가 발생했습니다.'));
                };
                
                reader.onload = () => {
                resolve(reader.result);
                };
            
            });
        }

        $(".inquire-body").on("submit", async function(e){
            e.preventDefault();

            let from = $("input[name='from']").val();
            let title = $("input[name='title']").val();
            let inq_body = $("textarea[name='inq_body']").val();
            let files = document.querySelector('#file').files;

            if(from == '' || title == '' || inq_body == ''){
                alert("보낼 메일 내용을 입력하세요.")
                return false;
            }
            
            let new_form = $("<form></form>");
            new_form.attr("method","post");
            new_form.attr("action","/info/ask/sendmail");

            new_form.append(`<input type='hidden' name='from' value='${from}'>`)
            new_form.append(`<input type='hidden' name='title' value='${title}'>`)
            new_form.append(`<input type='hidden' name='inq_body' value='${inq_body}'>`)
            let files_64 = [];
            for(let i=0; i<files.length; i++){
                // console.log(files[i].name);
                new_form.append(`<input name='file_name' type='hidden' value='${files[i].name}'>`)
                new_form.append(`<input type='hidden' name='file' value='${await fileToBase64(files[i])}'>`)
            }
            


            new_form.appendTo('body');
            new_form.submit();
            
            // console.log(await fileToBase64(document.querySelector('#file').files[0]))
        })
    </script>
    


</body>
</html>