<div class="instruction-header">
    <h4 class="text-center forum-title">이용 안내</h4>

    <div class="forum-category btn-shadow" >
        <a class="btn-cut <% if(from == "notice"){ %> active <% } %>">공지사항</a>
        <a class="btn-cut <% if(from == "faq"){ %> active <% } %>">자주 묻는 질문</a>
        <a class="btn-cut <% if(from == "inquire"){ %> active <% } %>">문의하기</a>
    </div>
</div>