
.btn-close-origin {
    height: 100%;
    padding: 0px 8px;
    
    font-size: 24px;
    border: 0;
}

.btn-close-origin:hover{
    background-color: #ff5d5d;
}

.btn-close-origin:active{
    background-color: #fe8282;

}

.share-card{
   
    width: 600px;
    height: 380px;
    background-color: #BFC3D4;

}

.post-title{
    display: flex;
    height: 35px;
    width: 100%;
}

.title-sizing {
    padding: 0px 18px;
    height: 100%;
}

.title-size{
    font-size: 14px;
}

.mg-10px{
    margin: 10px;
}

.color-writer {
    color: #ce6dfb;
}

.t-pd {
    padding: 2px 8px;
}

.content-h {
    height: 240px;
}

.explain-title {
    font-size: 14px;
    font-weight: bold;
}

.left-box{
    width: 70%;
}

.right-box-mg {
    margin-top: 20px;
    margin-right: 20px;
}

.right-box {
    width: 40%;
}


.explain-content {
    margin-top: 5px;
    margin-bottom: 10px;

    padding: 8px 14px;
}

.bottom-btn {
    width: 92%;
    height: 38px;

    font-size: 14px;
    font-weight: bold;

    border: 0;
}

.character-5 {
    margin:0px 15px 10px 0px;
    width: 90px;
    position: relative;

    z-index: 1;
}

.character-5 img{
    width: 90px;
}

.character-10 {
    margin:0px 10px 15px 0px;
    width: 80px;
    height: 80px;
    /* background-color: white; */
    position: relative;
}

.character-10 img{
    width: 80px;
    height: 80px;
}


.width-5{
    width: 350px;
}

.width-10{
    width: 600px;
}

.empty{
  width: 90px;
  height: 104px;
  background-color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  
 
  font-size: 25px;
}

.spot-selected-empty{
    width: 100px;
    height: 115px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5.5px; 
    left: -5.5px; 

    z-index: -1;

  }

  .spot-selected-full{
    width: 100px;
    height: 115px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -5.5px; 
    left: -5.5px; 

    z-index: -1;

  }

.arena-party1 {
    width: 100%;
    padding: 0px 20px;
}

.comment-box {
    width: 800px;
    height: 400px;
    background-color: rgb(211, 211, 211);

    padding: 12px 10px;

    overflow: auto;
}



.comment-header {
    font-size: 14px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
}

.character-5-comment {
    margin:0px 10px 0px 0px;
    width: 50px;
    /* height: 50px; */
    /* background-color: white; */
    position: relative;
}

.character-5-comment img{
    width: 50px;
}

.character-5-comment > div{
    width: 46px;
    height: 52px;

    font-size: 20px;
}


.comment-body {
    margin: 0px 40px;
    width: 400px;
}

.comment-wrapper {
    height: 70px;
    width: 300px;
    padding-top: 12px;
}

.form-detail {
    width: 100%;
    text-align: right;
}



.reply {
    margin-top: 5px;
    margin-left: 8px;
}

.help-btn {
    border-style: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 30px
}


.btn-cut {
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 8px, 100% 100%, 100% 100%, 8px 100%, 0 calc(100% - 8px), 0 0);
    box-shadow: inset -1px 1.5px 1px 0px rgba(255, 255, 255, 0.8);
    
}

.btn-shadow{
    width: 100%;
    filter: drop-shadow(0 2px 0 rgba(0, 0, 0, 0.45));
}

.btn-blue{
    background-color: #3b8fff;
}

.btn-blue:hover{
    background-color: #4c9aff;
}

.btn-blue:active{
    background-color: #5ca3ff;
}

.btn-black{
    background-color: #3f3f50;
}

.btn-black:hover{
    background-color: #4d4d61;
}

.btn-black:active{
    background-color: #58586f;
}

.btn-yellow{
    background-color: #ffa801;
}

.btn-yellow:hover{
    background-color: #ffb730;
}

.btn-yellow:active{
    background-color: #fbc45f;
}
