
body {
    margin: 0px;
    box-sizing: border-box;
}

p, div, h6{
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}

.btn-close {
    height: 100%;
    padding: 0px 8px;
}

.share-card{
   
    width: 800px;
    height: 370px;
    background-color: rgb(158, 157, 157);

}

.post-title{
    display: flex;
    height: 30px;
    width: 100%;
}

.bg-darkgray{
    background-color: rgb(126, 126, 126);
}

.bg-blue {
    background-color: lightblue;
}

.title-pd {
    padding: 5px 12px;
}

.mg-10px{
    margin: 10px;
}

.writer-info{
    display: flex;

    background-image: linear-gradient(to right, white, rgba(0,0,0,0));
}

.t-pd {
    padding: 2px 8px;
}

.content-h {
    height: 240px;
}

.form-box {    
    
    /* margin: auto; */
    /* background-color: white; */
}

.explain-title {
    font-size: 13px;
}

.right-box-mg {
    margin-top: 20px;
    margin-right: 20px;
}

.explain-content {
    margin-top: 5px;
    margin-bottom: 10px;

    padding: 8px 14px;
}

.bottom-btn {
    width: 48%;
    font-size: 13px;
    font-weight: bolder;
}

.character-5 {
    margin:0px 30px 15px 0px;
    width: 80px;
    height: 80px;
    background-color: white;
    position: relative;
}

.character-10 {
    margin:0px 10px 15px 0px;
    width: 80px;
    height: 80px;
    background-color: white;
    position: relative;
}


.width-5{
    width: 350px;
}

.width-10{
    width: 600px;
}

.level-badge{
    width: 27px;
  height: 30px;
  background-color: #ff3e12;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  position: absolute;
  bottom: 4px;
  right: 4px;
}

.arena-party1 {
    width: 100%;
    padding: 0px 20px;
}

.comment-box {
    width: 800px;
    height: 400px;
    background-color: rgb(211, 211, 211);

    padding: 12px 10px;

    overflow: auto;
}

.form-bg {
    background-color: rgb(158, 157, 157);
}

.comment-header {
    font-size: 14px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
}

.character-5-comment {
    margin:0px 10px 15px 0px;
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
}

.comment-body {
    margin: 0px 40px;
    width: 400px;
}

.comment-wrapper {
    height: 70px;
    width: 300px;
    padding-top: 12px;
}

.form-detail {
    width: 100%;
    text-align: right;
}

.color-gray {
    color: gray;
}

.reply {
    margin-top: 5px;
    margin-left: 8px;
}

.help-btn {
    border-style: none;
    color: black;
    font-weight: bold;
    font-size: 13px;
    padding: 7px 30px
}