.characters-spread{
    margin-top: 15px;
    width: 600px;
    height: 500px;
    background-color: #BFC3D4;

    padding: 20px;
}

.characters-container{
    width: 100%;
}

.character-list{
    width: 70px;
    position: relative;

    z-index: 1;
}

.character-list img{
    width: 70px;
}

.character-list-box{
    width: calc(100%/6);
    margin-bottom: 20px;
}

.select-liner:hover{
    filter: drop-shadow(0 0 3px #fff87b );
    cursor: pointer;
}

.memo{
    width: 100%;
    height: 240px;
    border: none;
    resize: none;
    margin: 0;
}

.char-selected{
    width: 78px;
    height: 90px;
    background: #BFC3D4;
    background: radial-gradient(circle,rgba(191, 195, 212, 1) 0%, rgba(255,248,123, 1) 80%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 25px;
    
    position: absolute;
    top: -4px; 
    left: -4px; 

    z-index: -1;

  }