<html>
<body>
  <div>
    <h2 style='color:black'>문의 도착!</h2>
    <p>문의한 유저 : <%= from  %> </p>
    <p style='color:black'>문의 제목 : <%= title %></p>
    <p style='color:black'>문의 내용 : </p>
    <p style='color:black'><%= inq_body%> </p>
  </div>
</body>
</html>