<html>
<body>
  <div>
    <h2 style='color:black'>문의가 정상적으로 접수되었습니다.</h2>
    <p>안녕하세요, 문의해주셔서 감사합니다. 접수된 문의는 수 일 내로 처리하여 답 메일 보내드리겠습니다. 
        <br>최선을 다하겠으나, 만일 처리가 늦어지더라도 양해해주시면 감사하겠습니다. 
        <br>사이트 이용에 감사드리며, 쾌적한 경험을 위해 노력하겠습니다. </p>
    <p>본 메일은 자동으로 전송되는 메일입니다.</p>
    <p style='color:black'>문의 내용 : </p>
    <p style='color:black'><%= inq_body%> </p>
  </div>
</body>
</html>