<html>
<body>
  <div>
    <p style='color:black'>안녕하세요, 로드의 전술서입니다.</p>
    <p style='color:black'>아래는 임시 비밀번호입니다.</p>
    <h2><%= new_pw %></h2>
    <p style='color:black'>임시 비밀번호를 이용해 로그인하시고, 로그인 하시면 비밀번호를 변경하세요.</p>
    <p style='color:red'>임시 비밀번호를 아무에게도 알려주지 마세요.</p>
  </div>
</body>
</html>