<html>
<body>
  <div>
    <h2 style='color:black'>신고 접수</h2>
    <p>신고한 유저 : <%= from  %> </p>
    <p style='color:black'>신고 대상 내용 : <%= object_content %></p>
    <p style='color:black'>신고 이유: </p>
    <p style='color:black'><%= reason%> </p>
  </div>
</body>
</html>